.errorMessage {
  background-image: url(./error.gif);
  display: flex;
  justify-content: center;
  align-items:flex-end;
  height: 100%;
  background-size: cover;

  h3 {
    color: #ffff;
    margin-bottom: 5px;
  }
}
