@keyframes ldio-401gce7yfk3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-401gce7yfk3 div {
  box-sizing: border-box !important;
}
.ldio-401gce7yfk3 > div {
  position: absolute;
  width: 86.4px;
  height: 86.4px;
  top: 91.80000000000001px;
  left: 91.80000000000001px;
  border-radius: 50%;
  border: 10.8px solid #000;
  border-color: #2a2a29 transparent #2a2a29 transparent;
  animation: ldio-401gce7yfk3 1.7543859649122806s linear infinite;
}

.ldio-401gce7yfk3 > div:nth-child(2),
.ldio-401gce7yfk3 > div:nth-child(4) {
  width: 59.400000000000006px;
  height: 59.400000000000006px;
  top: 105.30000000000001px;
  left: 105.30000000000001px;
  animation: ldio-401gce7yfk3 1.7543859649122806s linear infinite reverse;
}
.ldio-401gce7yfk3 > div:nth-child(2) {
  border-color: transparent #f63418 transparent #f63418;
}
.ldio-401gce7yfk3 > div:nth-child(3) {
  border-color: transparent;
}
.ldio-401gce7yfk3 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-401gce7yfk3 > div:nth-child(3) div:before,
.ldio-401gce7yfk3 > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10.8px;
  height: 10.8px;
  top: -10.8px;
  left: 27px;
  background: #2a2a29;
  border-radius: 50%;
  box-shadow: 0 75.60000000000001px 0 0 #2a2a29;
}
.ldio-401gce7yfk3 > div:nth-child(3) div:after {
  left: -10.8px;
  top: 27px;
  box-shadow: 75.60000000000001px 0 0 0 #2a2a29;
}

.ldio-401gce7yfk3 > div:nth-child(4) {
  border-color: transparent;
}
.ldio-401gce7yfk3 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-401gce7yfk3 > div:nth-child(4) div:before,
.ldio-401gce7yfk3 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10.8px;
  height: 10.8px;
  top: -10.8px;
  left: 13.5px;
  background: #f63418;
  border-radius: 50%;
  box-shadow: 0 48.6px 0 0 #f63418;
}
.ldio-401gce7yfk3 > div:nth-child(4) div:after {
  left: -10.8px;
  top: 13.5px;
  box-shadow: 48.6px 0 0 0 #f63418;
}
.loadingio-spinner-double-ring-epfq6pyjnve {
  width: 270px;
  height: 270px;
  display: flex;
  overflow: hidden;
  background: none;
  margin: 0 auto;
}
.ldio-401gce7yfk3 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-401gce7yfk3 div {
  box-sizing: content-box;
}
